body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  font-family: "Roboto Light", sans-serif; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

button {
  cursor: pointer; }

label {
  cursor: pointer; }

section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

select, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent; }

.content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.footer-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }

.box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px; }

.uk-container {
  max-width: 940px; }

.monblan {
  background-color: #fafafa; }
  .monblan-left {
    background-image: url(".././img/bg-1.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .monblan-right {
    background-image: url(".././img/bg-2.png");
    background-repeat: no-repeat;
    background-position: 100% 85%; }

.header {
  padding: 15px 0 35px 0 !important;
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 0.6); }
  .header-logo {
    margin: 0 70px; }
    @media (max-width: 1200px) {
      .header-logo {
        margin: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .header-top {
    margin-bottom: 21px; }
    @media (max-width: 1200px) {
      .header-top {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 550px) {
      .header-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .header-top-title {
      font-size: 35px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      text-align: left;
      color: #262626; }
    .header-top-btn {
      padding: 10px;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      text-align: left;
      color: #4090db;
      border: 1px solid #4090db;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      margin-left: 20px;
      -webkit-transition-duration: .5s;
           -o-transition-duration: .5s;
              transition-duration: .5s;
      cursor: pointer; }
      .header-top-btn:hover {
        color: #4bd963;
        border: 1px solid #4bd963; }
  .header-middle {
    margin-bottom: 21px; }
    @media (max-width: 1200px) {
      .header-middle {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 550px) {
      .header-middle {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .header-middle-text {
      font-size: 17px;
      color: #3d4044;
      font-weight: normal; }
      .header-middle-text span {
        font-weight: bold; }
    .header-middle-text.margin {
      margin-left: 30px; }
      @media (max-width: 550px) {
        .header-middle-text.margin {
          margin: 0; } }
  @media (max-width: 1200px) {
    .header-down {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (max-width: 550px) {
    .header-down {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .header-down-date {
    margin-right: 15px;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #262626; }

#from {
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 10px; }
  #from::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #333333; }
  #from::-moz-placeholder {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #333333; }
  #from::-ms-input-placeholder {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #333333; }
  #from::placeholder {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #333333; }

#to {
  margin-left: 25px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 10px; }
  @media (max-width: 550px) {
    #to {
      margin: 0; } }
  #to::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #333333; }
  #to::-moz-placeholder {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #333333; }
  #to::-ms-input-placeholder {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #333333; }
  #to::placeholder {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #333333; }

.from {
  cursor: pointer; }
  .from::before {
    content: url(".././img/x.png");
    position: absolute;
    top: 0;
    right: 31px;
    border: 1px solid #cccccc;
    background-color: #ebebeb;
    padding: 5px 10px;
    z-index: 2; }

.to {
  cursor: pointer; }
  .to::before {
    content: url(".././img/x.png");
    position: absolute;
    top: 0;
    right: 31px;
    border: 1px solid #cccccc;
    background-color: #ebebeb;
    padding: 5px 10px;
    z-index: 2; }

.ui-widget-header .ui-icon {
  background-image: url(".././images/ui-icons_444444_256x240.png") !important; }

.ui-datepicker-trigger {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #cccccc;
  background-color: #ebebeb;
  padding: 7px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer; }

.ui-widget-header {
  border: none !important;
  background-color: transparent !important; }

.ui-datepicker {
  margin: 10px;
  border-top: none; }

.ui-datepicker::before, .ui-datepicker::after {
  content: '';
  position: absolute;
  left: 20px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #333; }

.ui-datepicker::after {
  border-bottom: 10px solid white;
  top: -20px; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  border-collapse: initial !important; }

.ui-state-active, .ui-widget-content .ui-state-active {
  background-color: #4090db !important;
  border: none !important; }

.ui-state-default, .ui-widget-content .ui-state-default {
  text-align: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: transparent; }

.main {
  background-color: rgba(250, 250, 250, 0.1); }
  .main-buttons {
    margin: 20px 0; }
    .main-buttons-grid {
      margin: 0 10px;
      cursor: pointer; }
      .main-buttons-grid svg {
        width: 30px;
        height: 30px;
        fill: #cccccc;
        -webkit-transition-duration: .5s;
             -o-transition-duration: .5s;
                transition-duration: .5s; }
        .main-buttons-grid svg:hover {
          fill: #3b8ede; }
    .main-buttons-list {
      margin-left: 10px;
      cursor: pointer; }
      .main-buttons-list svg {
        width: 35px;
        height: 35px;
        fill: #cccccc;
        -webkit-transition-duration: .5s;
             -o-transition-duration: .5s;
                transition-duration: .5s; }
        .main-buttons-list svg:hover {
          fill: #3b8ede; }
      .main-buttons-list svg > * {
        height: 2px; }

.main-buttons-grid.active svg > * {
  fill: #3b8ede; }

.main-buttons-list.active svg > * {
  fill: #3b8ede; }

.list .main-item {
  width: 25%; }
  @media (max-width: 650px) {
    .list .main-item {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.list .main-box {
  background-color: #fff;
  margin: 10px 0;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.list .main-box-today {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal; }

.list .main-box-sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.list .main-box-sub__day {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.list .main-box-like {
  margin-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.list .main-box-like svg > * {
  fill: black; }

.list .main-box-like span {
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  padding-left: 5px; }

.list .main-box-comments {
  margin-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.list .main-box-comments svg > * {
  fill: black; }

.list .main-box-comments span {
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  padding-left: 5px; }

.list .main-box-day {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal; }

.list .main-box-upload {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal; }
  @media (max-width: 650px) {
    .list .main-box-upload {
      margin-right: 10px; } }

.list .main-box-upload__date {
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal; }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1200px) {
    .grid {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
  @media (max-width: 800px) {
    .grid {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .grid .main-item {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .grid .main-box {
    position: relative;
    background-color: transparent;
    max-width: 300px;
    height: 300px;
    -webkit-flex-basis: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
            flex-basis: 33.3333%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (max-width: 1100px) {
      .grid .main-box {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; } }
  .grid .main-box-img img {
    width: 300px;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .grid .main-box-today {
    color: white;
    margin-right: 49px; }
  .grid .main-box-like span {
    color: white; }
  .grid .main-box-like svg > * {
    fill: white;
    color: white; }
  .grid .main-box-comments svg > * {
    fill: white;
    color: white; }
  .grid .main-box-comments span {
    color: white; }
  .grid .main-box-day {
    color: white;
    margin-right: 20px; }
  .grid .main-box-upload {
    color: white;
    margin-right: 30px; }
  .grid .main-box-upload__date {
    color: white; }

.main-btn {
  margin: 36px auto 75px auto !important;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  padding: 10px 25px;
  text-align: center;
  border: 1px solid black;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: transparent;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  cursor: pointer; }
  .main-btn:hover {
    color: #4bd963;
    border: 1px solid #4bd963; }
