extends blocks/_layout

append content
    -
        var items = [
            {
                img: './img/img-1.png',
                imgLike: './img/like.png',
                imgComments: './img/comment.png',
                today: 'Today',
                likeToday: '128',
                likeComments: '31' ,
                day: '9-08-2016',
                dayLike: '67',
                dayComments: '22',
                upload: 'Image upload',
                uploadDate: '11-04-2016',
            },
            {
                img: './img/img-2.png',
                imgLike: './img/like.png',
                imgComments: './img/comment.png',
                today: 'Today',
                likeToday: '128',
                likeComments: '31',
                day: '9-08-2016',
                dayLike: '67',
                dayComments: '22',
                upload: 'Image upload',
                uploadDate: '11-04-2016',
            },
            {
                img: './img/img-3.png',
                imgLike: './img/like.png',
                imgComments: './img/comment.png',
                today: 'Today',
                likeToday: '128',
                likeComments: '31',
                day: '9-08-2016',
                dayLike: '67',
                dayComments: '22',
                upload: 'Image upload',
                uploadDate: '11-04-2016',
            },
            {
                img: './img/img-4.png',
                imgLike: './img/like.png',
                imgComments: './img/comment.png',
                today: 'Today',
                likeToday: '128',
                likeComments: '31',
                day: '9-08-2016',
                dayLike: '67',
                dayComments: '22',
                upload: 'Image upload',
                uploadDate: '11-04-2016',
            },
            {
                img: './img/img-5.png',
                imgLike: './img/like.png',
                imgComments: './img/comment.png',
                today: 'Today',
                likeToday: '128',
                likeComments: '31',
                day: '9-08-2016',
                dayLike: '67',
                dayComments: '22',
                upload: 'Image upload',
                uploadDate: '11-04-2016',
            },
            {
                img: './img/img-6.png',
                imgLike: './img/like.png',
                imgComments: './img/comment.png',
                today: 'Today',
                likeToday: '128',
                likeComments: '31',
                day: '9-08-2016',
                dayLike: '67',
                dayComments: '22',
                upload: 'Image upload',
                uploadDate: '11-04-2016',
            },
            {
                img: './img/img-7.png',
                imgLike: './img/like.png',
                imgComments: './img/comment.png',
                today: 'Today',
                likeToday: '128',
                likeComments: '31',
                day: '9-08-2016',
                dayLike: '67',
                dayComments: '22',
                upload: 'Image upload',
                uploadDate: '11-04-2016',
            },
            {
                img: './img/img-8.png',
                imgLike: './img/like.png',
                imgComments: './img/comment.png',
                today: 'Today',
                likeToday: '128',
                likeComments: '31',
                day: '9-08-2016',
                dayLike: '67',
                dayComments: '22',
                upload: 'Image upload',
                uploadDate: '11-04-2016',
            },
            {
                img: './img/img-9.png',
                imgLike: './img/like.png',
                imgComments: './img/comment.png',
                today: 'Today',
                likeToday: '128',
                likeComments: '31',
                day: '9-08-2016',
                dayLike: '67',
                dayComments: '22',
                upload: 'Image upload',
                uploadDate: '11-04-2016',
            },
        ]
    .monblan.uk-section.uk-padding-remove.uk-overflow-hidden.uk-position-relative
        .uk-position-cover.uk-grid-collapse(uk-grid)
            div(class=' uk-width-1-2@l uk-width-1-1 uk-height-1-1 monblan-left')
            div(class=' uk-width-1-2 monblan-right')
        .header.uk-section.uk-padding-remove.uk-position-relative
            .uk-container
                .uk-grid-collapse(uk-grid)
                    .uk-width-1-3(class='uk-width-1-1@xs')
                        .header-logo
                            img(src='./img/Logo.png' alt='#')
                    div(class='uk-width-2-3@l uk-width-2-3@xl uk-width-1-1@s')
                        .header-box.uk-flex.uk-flex-column.uk-flex-left
                            .header-top.uk-flex.uk-flex-middle
                                .header-top-title monblanproject
                                button.header-top-btn Start on 17-02-2016
                            .header-middle.uk-flex.uk-flex-middle
                                .header-middle-text <span>870</span> posts
                                .header-middle-text.margin <span>11,787</span> followers
                                .header-middle-text.margin <span>112</span> following
                            .header-down.uk-flex.uk-flex-middle
                                .header-down-date Date
                                .from.uk-position-relative
                                    input#from(type='text' name='from' placeholder='from')
                                .to.uk-position-relative
                                    input#to(type='text' name='to' value='to')
        .main.uk-section.uk-padding-remove.uk-position-relative
            .uk-container
                .main-buttons.uk-flex.uk-flex-right.uk-flex-middle
                    button.main-buttons-grid(id='grid')
                        span(uk-icon='icon: grid')
                    button.main-buttons-list.active(id='list')
                        span(uk-icon='icon: list')
            .uk-container.list
                each item in items
                    .uk-grid-small.main-box(uk-grid)
                        .main-item
                            .main-box-img
                                img(src=item.img alt='#')
                        .main-item
                            .main-box-today!=item.today
                            .main-box-sub
                                .main-box-like
                                    span(uk-icon='icon: heart; ratio: 1')
                                    span!=item.likeToday
                                .main-box-comments
                                    span(uk-icon='icon: commenting; ratio: 1')
                                    span!=item.likeComments
                        .main-item
                            .main-box-day!=item.day
                            .main-box-sub__day
                                .main-box-like
                                    span(uk-icon='icon: heart; ratio: 1')
                                    span!=item.dayLike
                                .main-box-comments
                                    span(uk-icon='icon: commenting; ratio: 1')
                                    span!=item.dayComments
                        .main-item
                            .main-box-upload!=item.upload
                            .main-box-upload__date!=item.uploadDate
            .uk-container
                .uk-flex.uk-flex-middle
                    button.main-btn Load More