.uk-container
  max-width: 940px
  
.monblan
  background-color: #fafafa
  
  &-left
    background-image: url(".././img/bg-1.png")
    background-repeat: no-repeat
    background-position: 0 0
    
  &-right
    background-image: url(".././img/bg-2.png")
    background-repeat: no-repeat
    background-position: 100% 85%

.header
  padding: 15px 0 35px 0 !important
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.06)
  background-color: rgba(255,255,255,0.6)

  &-logo
    margin: 0 70px

    @include media(1200)
      margin: 0
      display: flex
      align-items: center
      justify-content: center

  &-top
    margin-bottom: 21px

    @include media(1200)
      display: flex
      align-items: center
      justify-content: center

    @include media(550)
      flex-direction: column



    &-title
      font-size: 35px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      text-align: left
      color: #262626

    &-btn
      padding: 10px
      font-size: 15px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      text-align: left
      color: #4090db
      border: 1px solid #4090db
      border-radius: 4px
      margin-left: 20px
      transition-duration: .5s
      cursor: pointer

      &:hover
        color: #4bd963
        border: 1px solid #4bd963

  &-middle
    margin-bottom: 21px

    @include media(1200)
      display: flex
      align-items: center
      justify-content: center

    @include media(550)
      flex-direction: column

    &-text
      font-size: 17px
      color: #3d4044
      font-weight: normal

      & span
        font-weight: bold

    &-text.margin
      margin-left: 30px

      @include media(550)
        margin: 0

  &-down

    @include media(1200)
      display: flex
      align-items: center
      justify-content: center

    @include media(550)
      flex-direction: column

    &-date
      margin-right: 15px
      font-size: 17px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      color: #262626


#from
  border: 1px solid #cccccc
  border-radius: 5px
  padding: 10px

  &::placeholder
    font-size: 15px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    color: #333333



#to
  margin-left: 25px
  border: 1px solid #cccccc
  border-radius: 5px
  padding: 10px

  @include media(550)
    margin: 0


  &::placeholder
    font-size: 15px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    color: #333333


.from
  cursor: pointer

  &::before
    content: url(".././img/x.png")
    position: absolute
    top: 0
    right: 31px
    border: 1px solid #cccccc
    background-color: #ebebeb
    padding: 5px 10px
    z-index: 2

.to
  cursor: pointer

  &::before
    content: url(".././img/x.png")
    position: absolute
    top: 0
    right: 31px
    border: 1px solid #cccccc
    background-color: #ebebeb
    padding: 5px 10px
    z-index: 2

.ui-widget-header .ui-icon
  background-image: url('.././images/ui-icons_444444_256x240.png') !important


.ui-datepicker-trigger
  position: absolute
  top: 0
  right: 0
  border: 1px solid #cccccc
  background-color: #ebebeb
  padding: 7px
  border-radius: 5px
  cursor: pointer

.ui-widget-header
  border: none !important
  background-color: transparent !important

.ui-datepicker
  margin: 10px
  border-top: none

.ui-datepicker::before, .ui-datepicker::after
  content: ''
  position: absolute
  left: 20px
  top: -20px
  border: 10px solid transparent
  border-bottom: 10px solid #333

.ui-datepicker::after
    border-bottom: 10px solid white
    top: -20px

.ui-helper-clearfix:before, .ui-helper-clearfix:after
  border-collapse: initial !important

.ui-state-active, .ui-widget-content .ui-state-active
  background-color: #4090db !important
  border: none !important

.ui-state-default, .ui-widget-content .ui-state-default
  text-align: center
  border-radius: 4px
  border: transparent

.main
  background-color: rgba(250, 250, 250, 0.1)

  &-buttons
    margin: 20px 0

    &-grid
      margin: 0 10px
      cursor: pointer

      & svg
        width: 30px
        height: 30px
        fill: #cccccc
        transition-duration: .5s

        &:hover
          fill: #3b8ede


    &-list
      margin-left: 10px
      cursor: pointer

      & svg
        width: 35px
        height: 35px
        fill: #cccccc
        transition-duration: .5s

        &:hover
          fill: #3b8ede

      & svg > *
        height: 2px

.main-buttons-grid.active svg > *
  fill: #3b8ede

.main-buttons-list.active svg > *
  fill: #3b8ede



.list

  & .main-item
    width: 25%

    @include media(650)
      width: 100%
      display: flex
      align-items: flex-start
      justify-content: center

  & .main-box
    background-color: #fff
    margin: 10px 0
    text-align: left
    display: flex
    align-items: center

  & .main-box-today
    margin-bottom: 10px
    font-size: 17px
    font-weight: 600
    font-stretch: normal
    font-style: normal

  & .main-box-sub
    display: flex
    align-items: center

  & .main-box-sub__day
    display: flex
    align-items: center

  & .main-box-like
    margin-right: 10px
    display: flex
    align-items: center

  & .main-box-like svg > *
    fill: black

  & .main-box-like span
    font-size: 17px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    padding-left: 5px

  & .main-box-comments
    margin-left: 10px
    display: flex
    align-items: center

  & .main-box-comments svg > *
    fill: black

  & .main-box-comments span
    font-size: 17px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    padding-left: 5px

  & .main-box-day
    margin-bottom: 10px
    font-size: 17px
    font-weight: 600
    font-stretch: normal
    font-style: normal

  & .main-box-upload
    margin-bottom: 10px
    font-size: 17px
    font-weight: 600
    font-stretch: normal
    font-style: normal

    @include media(650)
      margin-right: 10px

  & .main-box-upload__date
    font-size: 17px
    font-weight: 600
    font-stretch: normal
    font-style: normal

.grid
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  justify-content: space-between

  @include media(1200)
    justify-content: space-around

  @include media(800)
    justify-content: center

  & .main-item
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: flex-start

  & .main-box
    position: relative
    background-color: transparent
    max-width: 300px
    height: 300px
    flex-basis: 33.3333%
    z-index: 1
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-end

    @include media(1100)
      flex-basis: 100%


  & .main-box-img img
    width: 300px
    position: absolute
    z-index: -1
    left: 50%
    top: 0
    transform: translate(-50%, 0)


  & .main-box-today
    color: white
    margin-right: 49px

  & .main-box-like span
    color: white

  & .main-box-like svg > *
    fill: white
    color: white

  & .main-box-comments svg > *
    fill: white
    color: white
  & .main-box-comments span
    color: white

  & .main-box-day
    color: white
    margin-right: 20px

  & .main-box-upload
    color: white
    margin-right: 30px

  & .main-box-upload__date
    color: white

.main-btn
    margin: 36px auto 75px auto !important
    font-size: 12px
    text-transform: uppercase
    font-weight: normal
    font-stretch: normal
    font-style: normal
    padding: 10px 25px
    text-align: center
    border: 1px solid black
    border-radius: 15px
    background-color: transparent
    transition-duration: .5s
    cursor: pointer

    &:hover
      color: #4bd963
      border: 1px solid #4bd963

.active


